@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Barlow;
}

#main{
    background-color: white;
    display: flex;
    width: 100%;
}
.row-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px 70px 10px;
}
.row-1 #TM-logo{
    width: 5%;
    height:9vh;
}
.row-1 .Button2{
    border-radius: 10px;
    background-color: #E8EFF2;
    height: 9vh;
    width: 20%;
    border: 2px solid #E8EFF2;
    color: #162542;
    font-family: Barlow;
    text-transform: uppercase;
    font-weight:500;
    font-size: 2.5vh;
}
.row-1 .Button2:hover{
    background-color: #162542;
    border: 2px solid #162542;
    color: #FFF;
    cursor: pointer;
}
h2{
    font-size: 26px;
    text-transform: uppercase;
}
h3{
    font-family:  Barlow;
    font-size: 24px;
    color: #162542;
}
.col-1{
    position: relative;
    display: flex;
    width: 10%;
}
.col-1 #grey-section-on-left{
    position: absolute;
    width:100%;
    height: 136px;
    margin-right: 20px;
    left: -20px;
    top: 136vh; 
}
.col-2{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.col-3{
    display: flex;
    position: relative;
    overflow: hidden;
    width: 10%;
    
}
.col-3 #grey-section-on-right{
    position: absolute;
    width:100%;
    height: 140px;
    right: -20px;
    top: 18.2vh;
    left:30px;
    z-index: 1;
}
.row-2{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.row-2 .main-title{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    height: auto;
    margin: auto;
    margin-right: 10px;
    padding: 10px;
    padding-left: 0px;
    padding-right: 20px;
}
.row-2 .main-title .header{
    font-family: Barlow;
    color: #162542;
    text-transform:uppercase;
    font-size: 9.2vh;
    font-weight: 900px;
}
.row-2 .main-title .description{
    font-family:  Barlow;
    font-size: /*18px*/3.5vh;
    font-weight: 500;
    color: #7B8BAD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.order-release-section{
    display: flex;
    flex-direction: row;
    height:9vh;
    margin-top: 30px;
}
.order-release-section .Button1{
    background-color:#F16718;
    border-radius: 10px;
    height: auto;
    width: 40%;
    border: 2px solid #F16718;
    font-family: Barlow;
    font-size: 2.5vh;
    line-height: 26px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 500;
}
.order-release-section .Button1:hover{
    background-color: #FF9B62;
    border: 2px solid #FF9B62;
    cursor: pointer;
}
.order-release-section #release-date{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #7B8BAD;
    align-items: center;
    width: 50%;
    font-size: 2.5vh;
    font-weight: 500;
    line-height: 26px;
}
.row-2 .first-keyboard-container{
    display: flex;
    border-radius: 30px;
    width: 50%;
    height: 70vh;
    background-image: url("assets/desktop/image-keyboard.jpg");
    background-size: cover;
    background-position: left;
}
.row-3{
    display: flex;
    margin-bottom: 90px;
    width: 100%;
    justify-content: space-between;
    height: auto;
    margin-top: 40px;
}
.row-3 .two-keyboards{
    display: flex;
    width:70%;
    height: 60vh;
    padding: 10px;
}
.row-3 #phone-and-keyboard{
    display: flex;
    width: 40%;
    height:  auto;
    border-radius: 20px;
    background-image: linear-gradient(rgba(230, 93, 15, 0.9), rgba(248, 91, 0, 0.5)), url("assets/desktop/image-phone-and-keyboard.jpg");
    background-size: cover;
    background-position: center;
    margin-right: 30px;
}
.row-3 #glass-and-keyboard{
    display: flex;
    width: 60%;
    height: auto;
    margin-left: 10px;
    border-radius: 20px;
    background-image: url("assets/desktop/image-glass-and-keyboard.jpg");
    background-size: cover;
    background-position: center;
}
.row-3 .sub-title{
    display: flex;
    flex-direction: column;
    width: 20%;
    height:50%;
    padding: 10px;
    margin: auto;
}
.row-3 .sub-title h2{
    font-family:  Barlow;
    color: #162542;
    font-weight: 700;
    font-size: /*26px*/4vh;
    text-transform: uppercase;
    padding: 10px;
}
.row-3 .sub-title .description{
    font-family:  Barlow;
    font-size: /*16px*/2vh;
    font-weight: 500;
    line-height: 26px;
    color: #7B8BAD;
    padding: 10px;
}
.row-4{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
}
.row-4 .compatible-bluetooth{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.row-4 .battery-light{
    display: flex;
    flex-direction: row;
}
.row-4 .features{
    padding: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}
.row-4 .svg-image{
    display: flex;
    background-color:#F16718;
    border-radius: 9px;
    width:20%;
    height:7vh;
}
.row-4 .svg-image .svg--image{
    width: 40%;
    margin: auto;
}
.row-4 .sub-title-2{
    text-transform: uppercase;
    font-size: 3vh;
    padding-top: 20px;
}
.row-4 .description{
    display: flex;
    font-family:  Barlow;
    font-size: /*16px 2vh*/ 120%;
    font-weight: 500;
    line-height: 26px;
    color: #7B8BAD;
    padding-top: 20px;
    padding-right: 10px;
    width:33vh;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    margin: auto;
    font-family:  Barlow;
    font-size: 1.7vh;
    color: #7B8BAD;
    text-align: center;
}
@media screen and (max-width:1024px) {
    #main{
        overflow: hidden; 
    }
    .col-1{
        width:0%;
    }
    .col-3{
        width:0%;
    }
    .col-1 #grey-section-on-left{
       display: none;
    }
    .col-3 #grey-section-on-right{
        display: none;
    }
    .col-2{
        width: 100%;
        padding: 20px;
    }
    .row-1{
        height: 6vh;
    }
    .row-1 #TM-logo{
        width: 10%;
        height:auto;
    }
    .row-1 .Button2{
        font-weight:600;
        font-size: 1.3vh;
        height: auto;
    }
    .row-2 .main-title{
        margin-left: 0px;
        width: 46vh;
    }
    .row-2 .main-title .header{
        font-size: 5vh;
    }
    .row-2 .main-title .description{
        font-size: /*18px*/2vh;
    }
    .order-release-section{
        height:6vh;
    }
    .row-2 .Button1{
        font-size: 1.3vh;
    }
    .order-release-section #release-date{
        font-size: 1.5vh;
        font-weight: 501;
    }
    .row-2 .first-keyboard-container{
        background-image: url("assets/tablet/image-keyboard.jpg");
        margin-right: -80px;
        height: 50vh;
        background-size: cover;
        background-position:left;
    }
    .row-3{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width: 100%;
        height:auto;
    }
    .row-3 .two-keyboards{
        flex-direction: row;
        width: 100%;
        height: 60vh;
        padding-right: 0px;
        padding-left: 0px;
    }
    .row-3 .sub-title{
        flex-direction: row;
        width:100%;
    }
    .row-3 .sub-title h2{
        margin: auto;
    }
    .row-3 .sub-title .description{
        margin: auto;
        font-size: 1.7vh;
    }
    .row-4{
        display: flex;
        flex-direction: column;
    }
    .row-4 .features .description{
        font-size: 2vh;
        padding-right: 10px;
        width: 33vh;
    }
    .row-4 .compatible-bluetooth{
        display: flex;
        flex-direction: row;
    }
    .row-4 .battery-light{
        flex-direction: row;
    }
    .row-3 #phone-and-keyboard{
        background-image: linear-gradient(rgba(230, 93, 15, 0.9), rgba(248, 91, 0, 0.5)), url("assets/tablet/image-phone-and-keyboard.jpg");
        background-position: left;
    }
    .row-3 #glass-and-keyboard{
        background-image: url("assets/tablet/image-glass-and-keyboard.jpg");
        background-position: left;
    }
}

@media screen and (max-width:1024px) and (max-height:600px) {
    #main{
        padding: 30px;
    }
    .row-4{
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        margin-bottom: 50px;
        margin: auto;
        font-size: 24px;
    }
    .row-3 .sub-title .description{
        font-size: 2vh;
        width:40%;
    }
    .row-4 .battery-light{
        margin-left: 0px;
    }
}
@media screen and (max-width:680px) {
    #main{
        overflow-x: hidden;
    }
    .col-1 #grey-section-on-left{
        display: none;
     }
     .col-3 #grey-section-on-right{
        display: none;
    }
    .row-1{
        margin-bottom: 70px;
        height: 6vh;
    }
    .row-1 #TM-logo{
        width: 20%;
        height:auto;
    }
    .row-1 .Button2{
        width: 40%;
        font-weight:500;
        font-size: 1.6vh;
    }
    .row-2{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .row-2 .main-title{
        width: 100%;
        height: auto;
    }
    .row-2 .main-title .header{
        font-size: 6vh;
    } 
    .row-2 .main-title .description{
        font-size: /*18px*/1.5vh;
    }
    .order-release-section{
        height:5vh;
    }   
    .row-2 .Button1{
        font-size: 1.6vh;
    }
    .order-release-section #release-date{
        font-size: 1.5vh;
        font-weight: 501;
    }
    .row-2 .first-keyboard-container{
        background-image: url("assets/mobile/image-keyboard.jpg");
        width: 120%;
        height: 50vh;
        margin-top: 40px;
        border-radius: 20px 0px 0px 20px;
    }
    .row-3{
        display: flex;
        margin-bottom: 0px;
    }
    .row-3 .two-keyboards{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 40vh;
        margin-right: 10px;
    }
    .row-3 .sub-title{
        width:100%;
        text-align: center;
    }
    .row-3 #phone-and-keyboard{
        width: 70%;
        height: 100%;
        background-image: linear-gradient(rgba(230, 93, 15, 0.9), rgba(248, 91, 0, 0.5)), url("assets/mobile/image-phone-and-keyboard.jpg");
        margin-left: -20px;
        border-radius: 0px 20px 20px 0px;
    }
    .row-3 #glass-and-keyboard{
        height: 100%;
        width: 90%;
        margin-left: 10px;
        border-radius: 20px 20px 20px 20px;
        background-image: url("assets/mobile/image-glass-and-keyboard.jpg");
    }
    .row-3 .sub-title{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
    }
    .row-4{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 50px;
    }
    .row-4 .svg-image{
        margin: auto;
    }
    .row-4 .svg-image .svg--image{
        width:20%;
    }
    .row-4 .features .description{
        margin: auto;
    }
    .row-4 .compatible-bluetooth{
        display: flex;
        flex-direction: column;
    }
    .row-4 .battery-light{
        display: flex;
        flex-direction: column;
    }
}