@import url('https://fonts.googleapis.com/css?family=Barlow:Black,Medium&display=swap');
#main{
    background-color: white;
    display: grid;
    grid-template-columns:100px auto 100px;
    grid-column-gap: 10px;
    width: 100%;
}
.row-1{
    display: flex;
    flex-direction: row;

}
.row-1 .Button2{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin: 0 0 0 auto;
    background-color: #E8EFF2;
    border-color: #E8EFF2;
}
.main-title{
    font-family: "Barlow Black", sans-serif;
    text-transform:uppercase;
    font-size: 56px;
    color: #162542;
}
.col-1{
    display: flex;
    align-self: center;
    justify-self: center;
    margin-left:-50px;
}
.col-3{
    display: flex;
    align-self: center;
    justify-self: center;
    margin-right:-250px;
}
